<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "NxtyWave"
        versionCode = "15"          
        version     = "01.00.07">
 
    <name>Wave</name>
 
    <description>
        Nextivity Phone App
    </description>
 
    <author email="jowen@nextivityinc.com">
        Nextivity
    </author>
 
 
 
 
     <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>
    <preference name="UIFileSharingEnabled"       value="true" />           <!-- IOS: jdo added to allow iTunes to view document folder on iPhone/iPad.  -->
    <preference name="iosPersistentFileLocation"  value="Compatibility" />  <!-- IOS: jdo added to allow iTunes to view document folder on iPhone/iPad.  -->

<!--
This caused the iPhone to brick...
<gap:config-file platform="ios" parent="CFBundleDisplayName" overwrite="true">
    <array>
        <string>Wave</string>
    </array>
</gap:config-file>
-->


    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version"           value="3.7.0" />          <!-- all: current version of PhoneGap -->
    <!--<preference name="orientation"                value="portrait" />-->       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />          <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    
<!--    
    <preference name="android-targetSdkVersion"   value="21" />   
-->    

    <!-- Allow registration screen input to move when keyboard comes up.  Neither worked
    <gap:config-file platform="android" parent="/manifest/application">
            android:windowSoftInputMode="stateVisible"
    </gap:config-file> 

    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
-->


    <!-- Plugins -->

    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.network-information" />            <!-- jdo: android: added for network connection information -->
    <gap:plugin name="org.apache.cordova.file"  version="1.3.1" />          <!-- jdo: added for file management  -->
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />  <!-- jdo: added to transfer files for download from the cloud. -->        
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.device" />                         <!-- jdo: Added to use "window.device.platform" -->
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />   <!-- jdo: Added to find lat and long.   -->
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />      <!-- jdo: IOS 7 and above does not allow full screen.   Use plugin to control -->
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />   <!-- jdo:  Added for push notifications.    -->

<!--    
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />

    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
-->





    <!-- Third party plugins -->
  
    

    <gap:plugin name="com.randdusing.bluetoothle" version="1.0.6" />                    // Use up to Phonegap Build 3.6.3

   
<!-- 
    <gap:plugin name="com.randdusing.bluetoothle" source="plugins.cordova.io" />        // This works with Phonegap Build version 3.7.0 
-->

<!--
    <gap:plugin name="com.randdusing.bluetoothle" source="npm" version="2.1.2" />       // This one has CRC issues
-->

<!--
    <gap:plugin name="com.randdusing.bluetoothle" source="npm" />       // This one is the latest and works with Phonegap Build version 3.7.0
-->

<!--
    <gap:plugin name="cordova-plugin-bluetoothle" source="npm" version="2.4.0" />
-->

    
    <gap:plugin name="hu.dpal.phonegap.plugins.spinnerdialog" version="1.2.0" />        <!-- jdo: IOS does not allow the native spinner so add plugin -->
    <gap:plugin name="com.simplec.plugins.powermanagement" version="0.4.0" />           <!-- jdo: Used to keep IOS auto lock disabled during download.  -->

	<gap:plugin name="net.yoik.cordova.plugins.screenorientation" />			<!--Plugin for maintaining orientation-->

    <!-- Define app icon for each platform. -->
    <!-- icon.png is the default icon that is displayed to start the app. -->
    <icon src="icon.png" />
   
    
<!--    
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
-->  
    <icon src="res/icon/android/icon-48-mdpi.png"      gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"      gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"     gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/android/icon-144-xxhdpi.png"   gap:platform="android"    gap:qualifier="xxhdpi" />
    <icon src="res/icon/android/icon-192-xxxhdpi.png"  gap:platform="android"    gap:qualifier="xxxhdpi" />  
 
    
    
    <!-- iOS 7.0+      -->
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/icon-60@3x.png"                         gap:platform="ios"        width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60@2x.png"                         gap:platform="ios"        width="120" height="120" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-76.png"                            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png"                         gap:platform="ios"        width="152" height="152" />

    <!-- iOS 6.1 jdo:  Added for acceptance to Apple iTunes Connect upload -->
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon-57.png"                            gap:platform="ios"        width="57" height="57" />

    <!-- iPad -->
    <icon src="res/icon/ios/icon-72.png"                            gap:platform="ios"        width="72" height="72" />      


<!--    
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>

    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
-->

    <!-- Define app splash screen for each platform. (jdo: Use the single default splash screen.)-->
    <!--<gap:splash src="splash.png" />-->
    
    <!-- Had to add the following for acceptance to Apple iTunesConnect upload -->  
    <!--<gap:splash src="res/screen/ios/splash-568h@2x.png" gap:platform="ios"     width="640" height="1136" />-->
    
    
<!--    
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/blackberry/screen-225.png"              gap:platform="blackberry" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />

    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />
-->


    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->




</widget>
 
 
